<html>

<head>
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='question.css' ) }}">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Barrio|Graduate|Special+Elite');
    </style>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>

    <title>New answer</title>
</head>

<body>

    <h2>New answer</h2>
    <form action=/question/{{question_id}}/new-answer method="POST">
        <p>
            <textarea rows="5" cols="50" name="newanswer" id="newanswer" style="font-size: 20px" placeholder="Add new answer..."></textarea></p>
        <p>
            <input class=answer type=submit name=answer_submit value=" Add answer " id=add_answer_button style="font-size: 20px" minlength="10"></p>
        <select>
                {% for user in user_list %}
                <option name=user value={{user[0]}}> {{user[1]}}</option>
                {% endfor %}
            </select>
    </form>
    <button onclick="goBack()">Back</button>
</body>

</html>