<html>

<head>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>

    <title>New Comment</title>
    <style>
        h2 {
            font-family: arial, sans-serif;
            color: limegreen;
            font-size: 40px;
        }
    </style>
</head>

<body>

    <h2>New comment</h2>
    <form action=/question/{{question_id}}/new-comment method="POST">
        <p>
            <textarea rows="5" cols="50" name="newcomment" id="newcomment" style="font-size: 20px"></textarea></p>
        <p><input type=submit name=comment_submit value=" Add comment " id=add_comment_button style="font-size: 20px" minlength="10"></p>
    </form>
    <button onclick="goBack()">Back</button>
</body>

</html>