<html>

<head>
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='question.css' ) }}">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Barrio|Graduate|Special+Elite');
    </style>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>

    <title>New Comment</title>
</head>

<body>

    <h2>New comment</h2>
    {%if question_id %}
    <form action=/question/{{question_id}}/new-comment method="POST">
        <p>
            <textarea class=new-commment rows="5" cols="50" name="newcomment" id="newcomment" style="font-size: 20px" placeholder="Add new comment..."></textarea></p>
        <p>
            <input class=question-comment type=submit name=comment_submit value=" Add comment " id=add_comment_button style="font-size: 20px"
                minlength="10"></p>
        <select name="user">
            {% for user in user_list %}
            <option value={{user[0]}}> {{user[1]}}</option>
            {% endfor %}
        </select>
    </form>
    {%elif answer_id %}
    <form action=/answer/{{answer_id}}/new-comment method="POST">
        <p>
            <textarea class=new-comment rows="5" cols="50" name="newcomment" id="newcomment" style="font-size: 20px" placeholder="Add new comment..."></textarea></p>
        <p>
            <input class=answer-comment type=submit name=comment_submit value=" Add comment " id=add_comment_button style="font-size: 20px"
                minlength="10"></p>
        <select name="user">
            {% for user in user_list %}
            <option value={{user[0]}}> {{user[1]}}</option>
            {% endfor %}
        </select>
    </form>
    {% endif %}
    <button onclick="goBack()">Back</button>
</body>

</html>