<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Barrio|Graduate|Special+Elite');
        table {
            background-color: rgba(200, 200, 180, 0.5);
        }

        th {
            background-color: rgba(180, 180, 160, 0.5);
        }

        #answer_comment_tr {
            background-color: rgba(160, 160, 140, 0.5);
        }
    </style>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
    <title>Details</title>
</head>

<body background="/static/robi4-opacity.png" style="background-color:lightgray ;
	background-image: url(/static/robi4-opacity.png);
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	font-family: 'Verdana';
	line-height: 1.88889;
	color: black;
	margin: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class=col-md-9>
                <h2>{{question[4]}}</h2>
                <p>
                    <h3 style="font-size:15px">{{question[5]}}</h3>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <h3>Question Details</h3>
                </p>
                <table class="table-bordered">
                    <tr align="center">
                        <th style="padding-right:3px;text-align:center;">Submission Time</th>
                        <th style="padding-right:3px;text-align:center;">Views</th>
                        <th style="padding-right:3px;text-align:center;">Vote</th>
                        <th style="padding-right:3px;text-align:center;">User</th>
                    </tr>
                    <tr align="left">
                        <td>{{question[1]}}</td>
                        <td>{{question[2]}}</td>
                        <td>{{question[3]}}</td>
                        <td>{{question[6]}}</td>
                    </tr>
                </table>
                <form action=./{{question_id}}/edit method="GET">
                    <p><input class="btn-xs btn-primary" type="submit" name="editquestion" value="Edit question" id="editquestion"></p>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <form action=./{{question_id}}/new-answer method="GET">
                    <input class="btn-primary btn-sm" type="submit" name="newanswer" value="New answer" id="newanswer">
                </form>
                <table class=table-hover style="margin-bottom:80px;">
                    <tr>
                        <th align="center">Answer</th>
                        <th align="center">Votes</th>
                        <th align="center"></th>
                        <th align="center">Submission Time</th>
                        <th align="center">User</th>
                        <th align="center"></th>
                        <th align="center"></th>
                    </tr>
                    {% for row in answers %}
                    <tr>
                        <td width="70%" align="left">{{row[3]}}</td>

                        <td width="5%" align="center">{{row[2]}}</td>
                        <td width="5%">
                            <form action="/answer/{{ row[0] }}/vote-up" method="POST">
                                <input type=hidden value="{{question_id}}" name="questionid" />
                                <input class="btn-warning btn-xs" type="submit" value="&#9650;" />
                            </form>
                            <form action="/answer/{{ row[0] }}/vote-down" method="POST">
                                <input type=hidden value="{{question_id}}" name="questionid" />
                                <input class="btn-warning btn-xs" type="submit" value="&#9660;" />
                            </form>
                        </td>
                        <td width="15%" align="center">{{row[1]}}</td>
                        <td width="70%" align="left">{{row[4]}}</td>
                        <td width="5%">
                            <form action="/answer/{{ row[0] }}/new-comment" method="GET">
                                <input type=hidden value="{{question_id}}" name="questionid" />
                                <input class="btn-primary btn-xs" type="submit" name="newcomment" value="New comment" id="newcomment" />
                            </form>
                        </td>
                        <td width="5%">
                            <form action="/answer/{{ row[0] }}/delete" method="POST">
                                <input type=hidden value="{{question_id}}" name="questionid" />
                                <input class="btn-danger btn-xs" align="center" type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    {% if answer_comment_table|count > 0 %} {% for answer_comment in answer_comment_table %} {% if row[0]== answer_comment[1]%}
                    <tr id=answer_comment_tr>
                        <td style="padding-left:80px;" align="left">{{answer_comment[2]}}</td>
                        <td align="left">{{answer_comment[4]}}</td>
                        <td>
                            <form action="/comment/{{ answer_comment[0] }}/delete" method="POST">
                                <input type=hidden value="{{question_id}}" name="questionid" />
                                <input class="btn-xs btn-danger" align="center" type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    {% endif %} {% endfor %} {%endif%} {% endfor %}
            </div>
        </div>
    </div>
    </table>

    </div>
    <div class="col-md-3">
        <table class="table-bordered" style="margin-top:25px;">
            {% if comments|count > 0 %}
            <tr>
                <th style="padding-right:3px;padding-left:5px;text-align:center;">
                    <font size="2">Comments</font>
                </th>
                <th style="padding-right:3px;padding-left:5px;text-align:center;">
                    <font size="2">User</font>
                </th>
            </tr>
            {%endif%} {% for comment in comments %}
            <tr>
                <td style="padding-right:5px;padding-left:5px;text-align:left;">
                    <font size="2">{{comment[1]}}</font>
                </td>
                <td style="padding-right:5px;padding-left:5px;text-align:left;">
                    <font size="2">{{comment[3]}}</font>
                </td>
                <td>
                    <form action="/comment/{{ comment[0] }}/delete" method="POST">
                        <input type=hidden value="{{question_id}}" name="questionid" />
                        <input class="btn-xs btn-danger" align="center" type="submit" value="Delete" />
                    </form>
                </td>
            </tr>

            {% endfor %}
        </table>
        <form action=./{{question_id}}/new-comment method="GET">
            <p><input class="btn-xs btn-primary" type="submit" name="newcomment" value="New comment" id="newcomment"></p>
        </form>
    </div>
    </div>

    </div>

    <footer>
        <div class="row">
            <div class="col-sm-12">
                <table class="table-bordered">
                    <tr>
                        {% for tag in tag_table %}
                        <td style="padding-right:5px;padding-left:5px;text-align:center;"> {{tag[2]}}
                            <form action="/question/{{ tag[0] }}/tag/{{ tag[1] }}/delete" method="POST">
                                <input class="btn-danger btn-xs" type="submit" value="X" align="center" style="padding-top:0;padding-bottom:0;" />
                            </form>
                        </td>
                        {% endfor %}
                    </tr>
                </table>

                <form action=./{{question_id}}/new-tag method="GET" style="margin-bottom:80px;">
                    <p><input class=btn-primary type="submit" name="newtag" value="New tag" id="newtag"></p>
                </form>
            </div>
        </div>
        <form action="/" method="GET" style="margin-top:80px;">
            <p><input class=btn-success type="submit" name="home" value="Home" id="home"></p>
        </form>
        <font size="2"> Created by: <img src="/static/beanbaglogo.png" alt="BeanBag Team"> </font>
        </p>
    </footer>
</body>

</html>