<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='question.css' ) }}">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Barrio|Graduate|Special+Elite');
    </style>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
    {% if question_id %}
    <title>Edit Question</title>
    {% else %}
    <title>Add New Question</title>
    {% endif %}
</head>

<body>
    {% if question_id %}
    <form action="/question/{{question_id}}/edit" , method="POST">
        <h2 class=edit>Edit Question</h2>
        <h3><label for="title">Edit Title</label><br>
            <input class=title type="text" size="30" name="title" id="title" value='{{title}}'>
            <p><label for="story">Edit Question</label><br>
                <textarea name="message" id="message" rows="5" cols="40" minlength="10">{{message}} </textarea></p>
            <p><input class=edit-button type="submit" value="Edit Question" style="font-size: 20px"></p>
        </h3>
    </form>
    {% else %}
    <form action='/newquestion' , method="POST">
        <h2>Add New Question</h2>
        <h3><label for="title">Title</label><br>
            <input class=title type="text" size="30" name="title" id="title" value='{{title}}' placeholder="Add a title...">
            <p><label for="story">New Question</label><br>
                <textarea name="message" id="message" rows="5" cols="40" placeholder="Add new question..." minlength="10">{{message}}</textarea></p>
            <select>
                {% for user in user_list %}
                <option name=user value={{user[0]}}> {{user[1]}}</option>
                {% endfor %}
            </select>
            <p><input class=add-button type="submit" value="Add new Question" style="font-size:20px"></p>
        </h3>
    </form>
    {% endif %}
    <button onclick="goBack()">Back</button>
</body>

</html>