<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        User Activities
        </title>
    </head>
    <body>
        <table id="queryresult">
            <tr id="header">
                {% for data in user_activities[0] %}
                <th>{{ data }}</th>
                {% endfor %}
            </tr>
            {% for row in user_activities[1:] %}
            <tr id="row">
                {% for data in row %}
                    {% if data != None %}
                        <td>
                            {{ data }}
                        </td>
                    {% else %}
                        <td style="color:red">
                            {{ data }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
