<html>

<head>
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='question.css' ) }}">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Barrio|Graduate|Special+Elite');
    </style>
    <title>Registration</title>
</head>

<body>
    <form action='/registration/register-user' method="POST">
        <input class=title type=text name=username id=username placeholder="Enter username"></input>
        <input class=add-button type=submit name=user-submit value='Register' id=user-register-button></input>
    </form>
    <form action="/" method="GET" style="margin-top:80px;">
        <p><input class=btn-success type="submit" name="home" value="Home" id="home"></p>
    </form>
</body>