<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        User Activities
        </title>
    </head>
    <body>
        <h3>
            {{ user_name }}
        </h3>
        <h2>
            Questions
        </h2>
        <table id="queryresult">
            <tr id="header">
                {% for data in questions_header %}
                <th>{{ data }}</th>
                {% endfor %}
            </tr>
            {% for row in user_questions %}
            <tr id="row">
                <td id=list-title-column><a href="../question/{{row[0]}}">{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
                <h2>
            Answers
        </h2>
        <table id="queryresult">
            <tr id="header">
                {% for data in answers_header %}
                <th>{{ data }}</th>
                {% endfor %}
            </tr>
            {% for row in user_answers %}
            <tr id="row">
                <td id=list-title-column><a href="../question/{{row[0]}}">{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
